.field{
    background: linear-gradient(
        to bottom,
        #5d9634,
        #5d9634 50%,
        #538c2b 50%,
        #538c2b
      );
    // height: 100%;
    background-size: 100% 30%;
  padding: 5px;
}

// .goalkeeper{
//     -webkit-box-shadow: -1px -32px 12px 31px rgba(201,214,208,1);
//     -moz-box-shadow: -1px -32px 12px 31px rgba(201,214,208,1);
//     box-shadow: -1px -32px 12px 31px rgba(201,214,208,1);
// }