<h2>Bench</h2   >
<app-drop-down [placeholder]="'Formations'" 
[display]="'name'" [currentList]="allFormations" 
(selectedOutput)="setFormation($event)"
></app-drop-down>


    <mat-card *ngIf="showBench"  class="shipping-card">
      <mat-card-header>
        <mat-card-title></mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <mat-selection-list  [multiple]="false">
          <mat-list-option (click)="changePlayer(item)"  *ngFor="let item of benchPlayers | async; let i=index;" [value]="item">
           {{i+1}}) {{item.firstName}}  {{item.lastName}} ({{item.positionCategory}})
          </mat-list-option>
        </mat-selection-list>

      </mat-card-content>

    </mat-card>

  