<div  class="field" fxLayoutGap="2em" fxLayout="column" fxLayoutAlign="space-between stretch">
    <div  fxLayout="row" fxLayout.xs="column" fxLayoutAlign="space-between stretch" >
        <app-team-player ></app-team-player>
        <app-team-player  ></app-team-player>
        <app-team-player  ></app-team-player>
        <app-team-player  ></app-team-player>
        <app-team-player  ></app-team-player>
    </div>
    <div fxLayout="row" fxLayout.xs="column" fxLayoutAlign="space-between stretch">
        <app-team-player ></app-team-player>
        <app-team-player  ></app-team-player>
        <app-team-player  ></app-team-player>
    </div>
    <div fxLayout="row" fxLayout.xs="column" fxLayoutAlign="space-between stretch">
        <app-team-player ></app-team-player>
        <app-team-player  ></app-team-player>
        <app-team-player  ></app-team-player>
    </div>
    <div  fxLayout="row" fxLayoutAlign="space-evenly center">
        <app-team-player class="goalkeeper"  [isGoalkeeper]="true" ></app-team-player>
    </div>
 <!-- <div *ngFor="let item of players">
    <app-team-player [player] ='item' ></app-team-player>
 </div> -->

   
</div>
