<mat-form-field (click)="isOpen($event)" appearance="fill">

    <mat-label (click)="isOpen($event)">{{placeholder}}</mat-label>

    <mat-select (click)="isOpen($event)" [attr.data-disabled]="disableSelect"  [formControl]="options" [(value)]="defaultSelect"  (selectionChange)="sendOutput($event)" >
   
      <mat-select-trigger>
        {{options.value ? options.value[display] :''  }}
 
      </mat-select-trigger>
      <mat-option   *ngFor="let item of currentList | async" [value]="item">{{item[display]}}</mat-option>
    </mat-select>
  </mat-form-field>